<h1 class="mt-2 mb-0">Plan template</h1>
<hr class="mt-0" style="border: 1px solid #009688;">
<div class="container pt-2">
  <div class="row">
    <div class="col-4">
      <div>
        <strong>Subscription id</strong>
      </div>
      <input class="form-control" [(ngModel)]="subscriptionId" />
    </div>
    <div class="col-4">
      <div>
        <strong>Language</strong>
      </div>
      <select class="form-control" [(ngModel)]="language">
        <option value="en">English</option>
        <option value="hi">Hindi</option>
        <option value="mr">Marathi</option>
        <option value="te">Telugu</option>
        <option value="kn">Kanada</option>
      </select>
    </div>
    <div class="col-4" style="margin-top: 10px">
      <button class="btn btn-success mt-2" (click)="getPrintPlans()">Search</button>
    </div>
  </div>

  <div *ngIf="printPlans.data.length > 0" class="pb-2">
    <div *ngFor="let printPlan of printPlans.data.sort(sortFunc)">
      <app-print-plan-card [printPlan]="printPlan"></app-print-plan-card>
    </div>
  </div>

  <div *ngIf="printBom?.data?.length" class="pb-2">
    <h2 class="mt-2 mb-0" style="display: inline">BOM details</h2>
    <hr class="mt-0 mb-1" style="border: 1px solid #009688;">
    <div>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col" style="width:25%">Input</th>
          <th scope="col">Quantity</th>
          <th scope="col">Unit</th>
          <th scope="col">Price</th>
          <th scope="col">Packing brand</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bom of printBom.data">
          <td>{{bom.chemical}}</td>
          <td>{{bom.total_quantity}}</td>
          <td>{{bom.unit}}</td>
          <td>{{bom.price}}</td>
          <td>
            <div *ngFor="let packing of bom.packing_priority_items.sort(sortPackingFunc) ; first as isFirst">
              <div *ngIf="isFirst" class="row">
                <div class="col-2">
                  <strong>Priority</strong>
                </div>
                <div class="col-5">
                  <strong>Brand</strong>
                </div>
                <div class="col-5">
                  <strong>Company</strong>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <span>{{packing.priority}}</span>
                </div>
                <div class="col-5">
                  <span>{{packing.brand}}</span>
                </div>
                <div class="col-5">
                  <span>{{packing.company}}</span>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
