<h1 class="mt-2 mb-0">Feeds dashboard</h1>
<hr class="mt-0" style="border: 1px solid #009688;">
<div class="container pt-2">
  <!-- User, notification and schedule -->
  <div class="row">
    <div class="col-4">
      <div>
        <strong>User type</strong>
        <span class="required"> *</span>
        <strong *ngIf="displayUserTypeError" class="required"> User type is mandatory</strong>
      </div>
      <select class="form-control" [formControl]="userTypeControl">
        <option value="unpaid">Unpaid users</option>
        <option value="all">All users</option>
        <option value="paid">Paid users</option>
      </select>
    </div>
    <div class="col-4">
      <div>
        <strong>Notification type</strong>
        <span class="required"> *</span>
        <strong *ngIf="displayNotificationTypeError" class="required"> Notification type is mandatory</strong>
      </div>
      <select class="form-control" [formControl]="notificationTypeControl">
        <option *ngFor="let notification of notifications" [value]="notification.notif_type">{{notification.name}} - {{notification.notif_type}}</option>
      </select>
    </div>
    <div class="col-4">
      <div>
        <strong>Schedule to</strong>
        <span class="required"> *</span>
        <strong *ngIf="displayScheduleError" class="required"> Schedule timer is mandatory</strong>
      </div>
      <input class="start_time form-control" (click)="setCurrentDateAndTime()" [(ngModel)]="scheduleTo" [owlDateTime]="dt1"
             [owlDateTimeTrigger]="dt1" placeholder="Schedule To  Time" [min]="minDate" />
      <owl-date-time #dt1></owl-date-time>
    </div>
  </div>
  <!-- Language and crop -->
  <div class="row pt-3">
    <div class="col-4">
      <div>
        <strong>Crop</strong>
      </div>
      <select *ngIf="!disableCrop" class="form-control" [formControl]="cropControl">
        <option value="">None</option>
        <option *ngFor="let crop of crops" [value]="crop.id">{{ crop.name_en }}</option>
      </select>
      <input class="form-control" [disabled]="disableCrop">
    </div>
    <div class="col-4">
      <div class="pb-2">
        <strong>Language</strong>
        <span class="required"> *</span>
        <strong *ngIf="displayLanguageError" class="required"> Select atleast one language</strong>
      </div>
      <mat-checkbox [formControl]="englishLanguageControl" (change)="onLanguageChange('en')">English</mat-checkbox>
      <mat-checkbox [formControl]="hindiLanguageControl" (change)="onLanguageChange('hi')" class="pl-4">Hindi</mat-checkbox>
      <mat-checkbox [formControl]="marathiLanguageControl" (change)="onLanguageChange('mr')" class="pl-4">Marathi</mat-checkbox>
    </div>
    <div class="col-4">
      <! -- Commenting as it is not used currently -->
      <!--
      <div>
        <strong>Secondary redirection deeplink </strong>
      </div>
      <input class="form-control" [(ngModel)]="secondaryDeeplink" />
      -->
    </div>
  </div>
  <!-- State, district and taluka -->
  <div class="row pt-3">
    <div class="col-4">
      <div>
        <strong>State</strong>
      </div>
      <select *ngIf="!disableState" class="form-control" [formControl]="stateControl" (change)="getDistricts()">
        <option value="">None</option>
        <option *ngFor="let state of states" [value]="state.id">{{ state.name_en }}</option>
      </select>
      <input class="form-control" [disabled]="disableState">
    </div>
    <div class="col-4">
      <div>
        <strong>District</strong>
        <mat-spinner class="ml-2" style="display: inline" *ngIf="isLoadingDistrict" diameter="20" value="50"></mat-spinner>
      </div>
      <select *ngIf="districts.length > 0" class="form-control" [formControl]="districtControl" (change)="getTalukas()">
        <option value="">None</option>
        <option *ngFor="let district of districts" [value]="district.id">{{ district.name_en }}</option>
      </select>
      <input class="form-control" *ngIf="districts.length === 0" [disabled]="districts.length === 0"/>
    </div>
    <div class="col-4">
      <div>
        <strong>Taluka</strong>
        <mat-spinner class="ml-2" style="display: inline" *ngIf="isLoadingTaluka" diameter="20" value="50"></mat-spinner>
      </div>
      <select *ngIf="talukas.length > 0" class="form-control" [formControl]="talukaControl">
        <option value="">None</option>
        <option *ngFor="let taluka of talukas" [value]="taluka.id">{{ taluka.name_en }}</option>
      </select>
      <input class="form-control" *ngIf="talukas.length === 0" [disabled]="talukas.length === 0"/>
    </div>
  </div>
  <!-- Titles -->
  <div class="row pt-3">
    <div *ngIf="englishLanguageControl.value" class="col-4">
      <div>
        <strong>Title </strong>
        <span class="language-content badge badge-pill badge-dark" tooltip="English">EN</span>
        <span class="required"> *</span>
        <strong *ngIf="displayEnglishTitleError" class="required"> English title is mandatory</strong>
      </div>
      <input class="form-control" [(ngModel)]="englishTitle" />
    </div>
    <div *ngIf="hindiLanguageControl.value" class="col-4">
      <div>
        <strong>Title </strong>
        <span class="language-content badge badge-pill badge-dark" tooltip="Hindi">HI</span>
        <span class="required"> *</span>
        <strong *ngIf="displayHindiTitleError" class="required"> Hindi title is mandatory</strong>
      </div>
      <input class="form-control" [(ngModel)]="hindiTitle" />
    </div>
    <div *ngIf="marathiLanguageControl.value" class="col-4">
      <div>
        <strong>Title </strong>
        <span class="language-content badge badge-pill badge-dark" tooltip="Marathi">MR</span>
        <span class="required"> *</span>
        <strong *ngIf="displayMarathiTitleError" class="required"> Marathi title is mandatory</strong>
      </div>
      <input class="form-control" [(ngModel)]="marathiTitle" />
    </div>
  </div>
  <!-- Message content -->
  <div class="row pt-3">
    <div *ngIf="englishLanguageControl.value" class="col-4">
      <div>
        <strong>Message </strong>
        <span class="language-content badge badge-pill badge-dark">EN</span>
        <span class="required"> *</span>
        <strong *ngIf="displayEnglishMessageError" class="required"> English message is mandatory</strong>
      </div>
      <textarea class="form-control" rows="4" [(ngModel)]="englishMessage"></textarea>
    </div>
    <div *ngIf="hindiLanguageControl.value" class="col-4">
      <div>
        <strong>Message </strong>
        <span class="language-content badge badge-pill badge-dark">HI</span>
        <span class="required"> *</span>
        <strong *ngIf="displayHindiMessageError" class="required"> Hindi message is mandatory</strong>
      </div>
      <textarea class="form-control" rows="4" [(ngModel)]="hindiMessage"></textarea>
    </div>
    <div *ngIf="marathiLanguageControl.value" class="col-4">
      <div>
        <strong>Message </strong>
        <span class="language-content badge badge-pill badge-dark">MR</span>
        <span class="required"> *</span>
        <strong *ngIf="displayMarathiMessageError" class="required"> Marathi message is mandatory</strong>
      </div>
      <textarea class="form-control" rows="4" [(ngModel)]="marathiMessage"></textarea>
    </div>
  </div>
  <!-- Image upload and youtube switcher -->
  <div *ngIf="selectedLanguages.size > 1" class="row pt-3">
    <div class="col-4">
      <div class="pb-2">
        <strong>Image upload</strong>
      </div>
      <span class="pr-2">Select one</span>
      <div class="custom-control custom-switch switcher-box">
        <input type="checkbox" [formControl]="imageSelectAllControl" class="custom-control-input pl-4" id="customSwitch1" (change)="resetImageFiles()" />
        <label class="custom-control-label" for="customSwitch1">Select all</label>
      </div>
    </div>
    <div class="col-4">
      <div class="pb-2">
        <strong>Youtube link</strong>
      </div>
      <span class="pr-2">Select one</span>
      <div class="custom-control custom-switch switcher-box">
        <input type="checkbox" [formControl]="youtubeSelectAllControl" class="custom-control-input pl-4" id="customSwitch2" />
        <label class="custom-control-label" for="customSwitch2">Select all</label>
      </div>
    </div>
  </div>
  <!-- Image upload -->
  <div *ngIf="!imageSelectAllControl.value" class="row pt-3">
    <div class="col-4">
      <div>
        <strong>Image </strong>
        <span class="language-content badge badge-pill badge-dark">ALL</span>
        <span class="required"> *</span>
        <strong *ngIf="displayImageError" class="required"> Upload a common image</strong>
        <strong *ngIf="displayImageTypeError" class="required"> Only jpg and png formats are allowed</strong>
        <strong *ngIf="displayImageSizeError" class="required"> Image size should be less than {{ imageValidatorSize.SIZE_KB }} kb</strong>
      </div>
      <img *ngIf="imageFile?.name" class="pb-1" height="100px" width="100px" [src]="domSanitizer.bypassSecurityTrustUrl(imageSource)">
      <input type="file" class="form-control-file" (change)="onImageSelect($event, 'all')"/>
    </div>
  </div>
  <div *ngIf="imageSelectAllControl.value" class="row pt-3">
    <div *ngIf="englishLanguageControl.value" class="col-4">
      <div>
        <strong>Image </strong>
        <span class="language-content badge badge-pill badge-dark">EN</span>
        <span class="required"> *</span>
        <strong *ngIf="displayEnglishImageError" class="required"> Upload an image for english content</strong>
        <strong *ngIf="displayEnglishImageTypeError" class="required"> Only jpg and png formats are allowed</strong>
        <strong *ngIf="displayEnglishSizeTypeError" class="required"> Image size should be less than {{ imageValidatorSize.SIZE_KB }} kb</strong>
      </div>
      <img *ngIf="englishImageFile?.name" class="pb-1" height="100px" width="100px" [src]="domSanitizer.bypassSecurityTrustUrl(englishImageSource)">
      <input type="file" class="form-control-file" (change)="onImageSelect($event, 'en')"/>
    </div>
    <div *ngIf="hindiLanguageControl.value" class="col-4">
      <div>
        <strong>Image </strong>
        <span class="language-content badge badge-pill badge-dark">HI</span>
        <span class="required"> *</span>
        <strong *ngIf="displayHindiImageError" class="required"> Upload an image for hindi content</strong>
        <strong *ngIf="displayHindiImageTypeError" class="required"> Only jpg and png formats are allowed</strong>
        <strong *ngIf="displayHindiSizeTypeError" class="required"> Image size should be less than {{ imageValidatorSize.SIZE_KB }} kb</strong>
      </div>
      <img *ngIf="hindiImageFile?.name" class="pb-1" height="100px" width="100px" [src]="domSanitizer.bypassSecurityTrustUrl(hindiImageSource)">
      <input type="file" class="form-control-file" (change)="onImageSelect($event, 'hi')"/>
    </div>
    <div *ngIf="marathiLanguageControl.value" class="col-4">
      <div>
        <strong>Image </strong>
        <span class="language-content badge badge-pill badge-dark">MR</span>
        <span class="required"> *</span>
        <strong *ngIf="displayMarathiImageError" class="required"> Upload an image for marathi content</strong>
        <strong *ngIf="displayMarathiImageTypeError" class="required"> Only jpg and png formats are allowed</strong>
        <strong *ngIf="displayMarathiSizeTypeError" class="required"> Image size should be less than {{ imageValidatorSize.SIZE_KB }} kb</strong>
      </div>
      <img *ngIf="marathiImageFile?.name" class="pb-1" height="100px" width="100px" [src]="domSanitizer.bypassSecurityTrustUrl(marathiImageSource)">
      <input type="file" class="form-control-file" (change)="onImageSelect($event, 'mr')"/>
    </div>
  </div>
  <!-- Youtube link -->
  <div *ngIf="!youtubeSelectAllControl.value" class="row pt-3">
    <div class="col-4">
      <div>
        <strong>Youtube link </strong>
        <span class="language-content badge badge-pill badge-dark">ALL</span>
        <strong *ngIf="displayYoutubeError" class="required"> Invalid youtube link</strong>
      </div>
      <input class="form-control" [(ngModel)]="youtubeLink"/>
    </div>
  </div>
  <div *ngIf="youtubeSelectAllControl.value" class="row pt-3">
    <div *ngIf="englishLanguageControl.value" class="col-4">
      <div>
        <strong>Youtube link </strong>
        <span class="language-content badge badge-pill badge-dark">EN</span>
        <strong *ngIf="displayEnglishYoutubeError" class="required"> Invalid youtube link</strong>
      </div>
      <input class="form-control" [(ngModel)]="englishYoutubeLink"/>
    </div>
    <div *ngIf="hindiLanguageControl.value" class="col-4">
      <div>
        <strong>Youtube link </strong>
        <span class="language-content badge badge-pill badge-dark">HI</span>
        <strong *ngIf="displayHindiYoutubeError" class="required"> Invalid youtube link</strong>
      </div>
      <input class="form-control" [(ngModel)]="hindiYoutubeLink"/>
    </div>
    <div *ngIf="marathiLanguageControl.value" class="col-4">
      <div>
        <strong>Youtube link </strong>
        <span class="language-content badge badge-pill badge-dark">MR</span>
        <strong *ngIf="displayMarathiYoutubeError" class="required"> Invalid youtube link</strong>
      </div>
      <input class="form-control" [(ngModel)]="marathiYoutubeLink"/>
    </div>
  </div>
  <!-- Secondary redirection -->
  <! -- Commenting as it is not used currently -->
  <!--
  <div class="row pt-3">
    <div *ngIf="englishLanguageControl.value" class="col-4">
      <div>
        <strong>Secondary redirection hint </strong>
        <span class="language-content badge badge-pill badge-dark">EN</span>
      </div>
      <input class="form-control" [(ngModel)]="englishRedirectionLink"/>
    </div>
    <div *ngIf="hindiLanguageControl.value" class="col-4">
      <div>
        <strong>Secondary redirection hint </strong>
        <span class="language-content badge badge-pill badge-dark">HI</span>
      </div>
      <input class="form-control" [(ngModel)]="hindiRedirectionLink"/>
    </div>
    <div *ngIf="marathiLanguageControl.value" class="col-4">
      <div>
        <strong>Secondary redirection hint </strong>
        <span class="language-content badge badge-pill badge-dark">MR</span>
      </div>
      <input class="form-control" [(ngModel)]="marathiRedirectionLink"/>
    </div>
  </div>
  -->
  <!-- Submit and test -->
  <div class="d-flex flex-row justify-content-end pt-4">
    <mat-spinner class="mr-2 mt-1" style="display: inline" *ngIf="displaySendingFeed" color="primary" diameter="50" value="50"></mat-spinner>
    <button class="btn btn-outline-success" (click)="onTestUsersClick()" [disabled]="displaySendingFeed">Test feed</button>
    <button (click)="openModal(confirmSendTemplate)" class="btn btn-outline-danger ml-2" [disabled]="displaySendingFeed">Send to users</button>
  </div>
  <div class="d-flex flex-row justify-content-center pb-4 mb-4">
    <h3 *ngIf="displayFeedSaved" class="badge badge-success">Test feeds sent successfully</h3>
    <h3 *ngIf="displayFeedSaveFailed" class="badge badge-danger">Send feeds failed</h3>
  </div>
</div>

<ng-template #confirmSendTemplate>
  <div class="modal-body text-center">
    <p>Do you want to send the feeds to actual users?</p>
    <button class="btn btn-primary" (click)="onSendUsersClick()">Yes</button>
    <button class="btn btn-secondary ml-1" (click)="modalRef.hide()">No</button>
  </div>
</ng-template>
